/* ================================================= */
/* GLOBAL */
/* ================================================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Libre Baskerville',sans-serif;
overflow-x:hidden;
background:#fff;
}

html{
scroll-behavior:smooth;
}

/* ================================================= */
/* SECTION */
/* ================================================= */

section{
min-height:100vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
padding:40px 20px
}

/* ================================================= */
/* BUTTON */
/* ================================================= */

.open-btn{
padding:12px 30px;
background:#8FAF9A;
color:white;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;
transition:0.3s;
margin-top:60px
}

.open-btn:hover{
background:#7E9F8B;
transform:translateY(-2px);
}

/* ================================================= */
/* COVER */
/* ================================================= */

.cover{
background-image:url("cover-bg.jpg");
background-size:cover;
background-position:center;
color:black;
}

.card{
margin-top:120px;
  }

/* ================================================= */
/* VIDEO */
/* ================================================= */

.slide-video{
height:100vh;
width:100%;
padding:0;
margin:0;
overflow:hidden;
background:black;
}

.slide-video video{
width:100%;
height:100vh;
object-fit:cover;
display:block;
}
  
/* ================================================= */
/* AYAT */
/* ================================================= */

.slide-ayat{
background-image:url("background-3.jpg");
background-size:cover;
background-position:center;
}

/* ================================================= */
/* PENGANTIN */
/* ================================================= */

.slide-pengantin{

background-image:url("background-4.jpg");
background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:flex-start;

padding-top:40px;

text-align:center;

}

/* container utama */

.pengantin-container{

display:flex;
flex-direction:column;
align-items:center;

gap:25px;

max-width:500px;

}

/* item pengantin */

.pengantin-item{

display:flex;
flex-direction:column;
align-items:center;
margin-bottom:10px;

}

/* frame foto */

.foto-frame{

width:150px;
height:200px;
border-radius:80%;
margin:0 auto 15px auto;
overflow:hidden;
border:4px solid black;
box-shadow:0 4px 10px rgba(0,0,0,0.0);

}

/* foto */

.foto-frame img{

width:100%;
height:100%;
object-fit:cover;

}

/* nama pengantin */

.nama-pengantin{

font-family: 'Above The Beyond Script', cursive;
font-size:32px;

color:#2f3e34;
margin-top:5px;
margin-bottom:5px;

}

/* orang tua */

.orangtua{

font-family: 'Libre Baskerville', cursive;
font-size:15px;
line-height:1.6;

color:#444;

max-width:280px;

}

/* simbol & */

.simbol-dan{

font-family: 'Great Vibes', cursive;

font-size:25px;

color:#000000;

margin:0 0;

}

/* animasi */

.fade-item{

opacity:0;
transform:translateY(40px);

transition:all 1s ease;

}

.fade-item.show{

opacity:1;
transform:translateY(0);

}


/* ================================================= */
/* ACARA */
/* ================================================= */

.slide-acara{
background-image:url("background-5.jpg");
background-size:cover;
background-position:center;

display:flex;
padding-top:120px;
}

.btn-lokasi{
padding:12px 25px;
background:#8FAF9A;
color:white;
border-radius:30px;
text-decoration:none;
font-size:16px;
transition:0.3s;
}

.btn-lokasi:hover{
background:#7E9F8B;
transform:translateY(-3px);
}

.lokasi-container{
margin-top:20px;
}


/* ================================================= */
/* RSVP */
/* ================================================= */

.slide-rsvp{
background-image:url("background-6.jpg");
background-size:cover;
background-position:center;
}

#rsvp-form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;

background:rgba(255,255,255,0.9);
padding:25px;
border-radius:15px;
max-width:400px;
width:100%;
}

#rsvp-form input,
#rsvp-form select,
#rsvp-form textarea{
width:100%;
padding:12px;
border:1px solid #ddd;
border-radius:8px;
font-size:14px;
}

#rsvp-form button{
width:100%;
padding:12px;
border:none;
background:#8FAF9A;
color:white;
border-radius:8px;
cursor:pointer;
}

#rsvp-form button:hover{
background:#7E9F8B;
}

.ucapan-container{

max-width:400px;
margin:40px auto;
text-align:left;

}

.ucapan-item{

background:#8FAF9A;
padding:12px;
border-radius:8px;
margin-bottom:15px;

}

.ucapan-item b{

font-size:13px;
color:black;

}

.ucapan-item p{

margin-top:5px;
font-size:13px;
color:black;

}


/* ================================================= */
/* GIFT */
/* ================================================= */

.slide-gift{
background-image:url("background-7.jpg");
background-size:cover;
background-position:center;
}

.gift-container{
display:flex;
flex-direction:column;
gap:20px;
max-width:350px;
}

.gift-card{
background:rgba(255,255,255,0.9);
padding:20px;
border-radius:12px;
box-shadow:0 8px 25px rgba(0,0,0,0.1);
}

.gift-card button{
padding:10px 15px;
border:none;
background:#8FAF9A;
color:white;
border-radius:8px;
cursor:pointer;
}

/* ================================================= */
/* THANK YOU */
/* ================================================= */

.slide-thanks{
background-image:url("background-8.jpg");
background-size:cover;
background-position:center;
}

.penutup{

text-align:center;
padding-top:80px;
padding-bottom:60px;

max-width:500px;
margin:auto;

line-height:1.8;

}

.penutup h2{

font-size:32px;
margin-bottom:20px;

}

.penutup p{

margin-bottom:15px;
font-size:14px;

}

.penutup h3{

margin-top:25px;
font-size:22px;

}

/* ================================================= */
/* ANIMATION */
/* ================================================= */

.fade-item{
opacity:0;
transform:translateY(40px);
transition:all 2s ease;
}

.fade-item.show{
opacity:1;
transform:translateY(0);
}

/* floating soft animation */

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

.floating{
animation:float 6s ease-in-out infinite;
}

/* ================================================= */
/* RESPONSIVE */
/* ================================================= */

@media(max-width:768px){

.nama-pengantin{
font-size:24px;
}

.orangtua{
font-size:14px;
}

.simbol-dan{
font-size:30px;
}

.open-btn{
font-size:14px;
padding:10px 25px;
}

}

/* ===================================== */
/* SCROLL REVEAL ANIMATION */
/* ===================================== */

.reveal{
opacity:0;
transform:translateY(40px);
transition:all 0.9s ease;
}

.reveal.show{
opacity:1;
transform:translateY(0);
}

/* delay animasi supaya muncul satu per satu */

.delay-1{
transition-delay:0.2s;
}

.delay-2{
transition-delay:0.4s;
}

.delay-3{
transition-delay:0.6s;
}

.delay-4{
transition-delay:0.8s;
}










